@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

*{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

input, textarea{
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: -moz-text;
  -o-user-select: text;
  user-select: text;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-move infinite 3s ease-in-out;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-move {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

html {
  overflow:hidden;
  width: 100vw;
}

.tree-node-for-span {
  width: 100%;
}
.tree-node-for-span > span[title] {
  width: 100%;
}

.icon-patch {
  color:  #ffffffa5
}

.ant-menu-item-active .icon-patch {
  color:  #ffffff
}

.ant-layout-sider-collapsed .ant-scroll-number.ant-badge-dot{
  transform: translate(5px, 8px);
}